<p id="notice"><%= notice %></p>

<h1>Listing Sorteados</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorteados.each do |sorteado| %>
      <tr>
        <td><%= sorteado.name %></td>
        <td><%= link_to 'Show', sorteado %></td>
        <td><%= link_to 'Edit', edit_sorteado_path(sorteado) %></td>
        <td><%= link_to 'Destroy', sorteado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sorteado', new_sorteado_path %>
